@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Trial-Regular.woff2") format("woff2"),
    url("../fonts/Gilam-Trial-Regular.ttf") format("truetype"),
    url("../fonts/Gilam-Trial-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Trial-SemiBold.woff2") format("woff2"),
    url("../fonts/Gilam-Trial-SemiBold.ttf") format("truetype"),
    url("../fonts/Gilam-Trial-SemiBold.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Trial-Bold.woff2s") format("woff2"),
    url("../fonts/Gilam-Trial-Bold.ttf") format("truetype"),
    url("../fonts/Gilam-Trial-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

html {
  overflow: hidden;
}

body {
  background-color: #171717;
  box-sizing: border-box;
  font-family: "Gilam";
  overflow: hidden;
}

/* Header */

.header-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1460px;
  height: 124px;
  margin: 0 auto;
  z-index: 1;
}

.header-logo {
  width: 216px;
  height: 33px;
  background-image: url("../img/logo-SK.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.call-button {
  display: flex;
  width: 218px;
  height: 50px;
  border: 1px solid #e4b564;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 26px;
}

.callback-icon {
  width: 13px;
  height: 13px;
}

.callback {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #e4b564;
}

/* Parallax */

.parallax {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 20px;
  transform-style: preserve-3d;
}

.parallax-section {
  position: relative;
  width: 100%;
  transform-style: inherit;
}

.parallax-section::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-60px) scale(4);
  background: center/cover no-repeat;
}

.parallax-section_1::before {
  background-image: url(../img/parallax-bg.jpeg);
}

.parallax-section_2::before {
  background-image: url(../img/header-bg.jpeg);
}

/* Top section */

.main-box-top {
  height: 1312px;
  padding-bottom: 100px;
  z-index: 2;
}

.top-box-width {
  width: 1460px;
  margin: 0 auto;
}

.main-top-headbox {
  height: 249px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 73px;
  padding-bottom: 41px;
}

.main-head {
  width: 1460px;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: #ffffff;
  margin: 0 auto;
}

.main-top-description {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
}

.main-top-engineering-box {
  display: grid;
  height: 1063px;
  padding-bottom: 100px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  row-gap: 27px;
  column-gap: 25px;
  grid-template-areas:
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
}

.top-item-1 {
  grid-area: item1;
  background-color: #634f2c;
  margin-right: 4.5px;
}

.top-item-2 {
  grid-area: item2;
  background-color: #b4a385;
  margin-left: 4.5px;
}

.top-item-3 {
  grid-area: item3;
  background-color: #e4b564;
}

.top-item-4 {
  grid-area: item4;
  background-color: #635a4a;
  margin-right: 2.5px;
}

.top-item-5 {
  grid-area: item5;
  background-color: #b08c4d;
  margin-left: 2.5px;
}

.top-box-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-item-text {
  width: 390px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

/* Middle section */

.main-box-mid {
  position: relative;
  padding: 50px 0 100px 0;
}

.mid-box-width {
  width: 1460px;
  margin: 0 auto;
}

.main-mid-headbox {
  position: relative;
  background-color: #171717;
  height: 133px;
  width: 100vw;
  padding-top: 50px;
  z-index: 2;
}

.main-mid-technics-box {
  display: grid;
  height: 897px;
  grid-template-columns: 467px 466px 467px;
  grid-gap: 30px;
}

.mid-column-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid-left-column-top-box {
  height: 313px;
  background-color: #0e0e0e;
  padding: 44px 0 0 52px;
}

.mid-left-column-bot-box {
  height: 560px;
  background-color: #1f1f1f;
  padding: 44px 0 0 52px;
}

.mid-center-column-top-box {
  height: 439px;
  background-color: #242424;
  padding: 44px 0 0 52px;
}

.mid-center-column-bot-box {
  height: 405px;
  background-color: #e4b564;
  padding: 44px 0 0 52px;
  margin-bottom: 20px;
}

.mid-right-column-top-box {
  height: 255px;
  background-color: #1f1f1f;
  padding: 44px 0 0 52px;
}

.mid-right-column-mid-box {
  height: 313px;
  background-color: #0e0e0e;
  padding: 44px 0 0 52px;
}

.mid-right-column-bot-box {
  height: 277px;
  background-color: #0a0909;
  padding: 44px 0 0 52px;
}

.mid-section-item-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #ffffff;
}

.mid-section-item-text-bold {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #ffffff;
}

.mid-section-item-text-dark {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
}

/* Bottom section */

.main-box-bot {
  position: relative;
  width: 1460px;
  height: 1054px;
  margin: 0 auto;
  z-index: 2;
}

.main-bot-headbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1460px;
  height: 172px;
}

.all-projects-button {
  display: flex;
  width: 180px;
  height: 50px;
  border: 1px solid #e4b564;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  color: #e4b564;
}

.main-bot-projects-box {
  display: grid;
  height: 782px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.bot-box-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
}

.bot-box-item:hover::after {
  content: "Работы по монтажу прифундаментного дренажа по адресу: ЛО, Всеволожский р-н, «Ручьи»";
  width: 326px;
  height: 140px;
  font-family: "Gilam";
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 16px;
  text-align: center;
}

.bot-item-1 {
  background-color: #634f2c;
}

.bot-item-2 {
  background-color: #e8d2ab;
}

.bot-item-3 {
  background-color: #e4b564;
}

.bot-item-4 {
  background-color: #635a4a;
}

.bot-item-5 {
  background-color: #b08c4d;
}

.bot-item-6 {
  background-color: #634f2c;
}

.logo-eid {
  width: 185px;
  height: 49px;
}

.logo-mavis {
  width: 62px;
  height: 55px;
}

.logo-mavis-text {
  width: 139px;
  height: 55px;
}

.logo-arsenal {
  width: 190px;
  height: 42px;
}

.logo-selt {
  width: 119px;
  height: 53px;
}

.footer-empty {
  position: static;
  height: 239px;
}
